/////////////
/// Colors
//
$colorA: #111314; //gutter
$colorB: #131516; //box dark (121415)
$colorC: #161719; //menu
$colorD: #1d1f21; //content
$colorE: #292c2f; //box light
$colorF: #292c2f; //light
$colorG: #303337; //super light

/////////////////
/// Background
//
$background-global: $colorA;
$background-menu: $colorB;
$background-submenu: $colorC;
$background-content: $colorD;

/////////////
/// Gutter
///
$section-gutter: 9px;
$page-gutter: 3px;

////////////
/// Width
//
$submenu-width: 21%;

///////////
/// Height
//
$menu-height: 36px;
