/////////////
/// Colors
//
$colorA: #111314; //gutter
$colorB: #131516; //box dark (121415)
$colorC: #161719; //menu
$colorD: #1d1f21; //content
$colorE: #292c2f; //box light
$colorF: #292c2f; //light
$colorG: #303337; //super light
$colorH: #6a6e72; //basic text
$colorI: #d9dbde; //title
$colorJ: #10a372;
$colorK: #20b684;
$colorL: #31cb97;
$colorM: #3a66b6; //link hover
$colorO: #6494ed; //link
$colorP: #84affe;
$colorK: #ba0d0d;
$colorR: #d92626;
$colorP: #f04040;
$colorS: #c9a46c;
$colorT: #e2c08d;
$colorU: #f6dab0;

/////////////////
/// Background
//
$background-global: $colorA;
$background-menu: $colorB;
$background-submenu: $colorC;
$background-content: $colorD;

///////////
/// Text
//
$color-title: $colorI;
$color-text: $colorH;
$color-link: $colorO;
$color-link-hover: $colorM;

/////////////
/// Gutter
///
$section-gutter: 9px;
$page-gutter: 3px;

////////////
/// Width
//
$submenu-width: 21%;

///////////
/// Height
//
$menu-height: 36px;
