head
  link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"
  link href="../../stylesheets/element.css" rel="stylesheet"
  link href="../../stylesheets/design.css" rel="stylesheet"
  
  script src="../../bootstrap/js/bootstrap.min.js"
  
body
  .hide-content-top
  .menu
    h1.title.col-sm-4 Lorem Ipsum
    ul.col-sm-8.text-right
      li
        a Dolor sit amet
      li
        a Consectetur
      li
        a Adipisicing
  .sub-menu
    ul.list-unstyled.text-center
      li.separate
        a.glyphicon.glyphicon-home.text-default
      li
        a.text-warning Consectetur
      li
        a.text-warning Adipisicing
  .content
  .hide-content-bottom
