/* line 6, ../sass/design.scss */
body {
  background: #111314;
  padding: 3px;
  position: relative;
  color: #6a6e72;
  font-size: 14px;
  line-height: 20px;
}

/* line 18, ../sass/design.scss */
.bg-dark {
  background: #131516;
}

/* line 19, ../sass/design.scss */
.bg-light {
  background: #292c2f;
}

/* line 20, ../sass/design.scss */
.bg-success {
  background: #20b684;
}

/* line 21, ../sass/design.scss */
.bg-primary {
  background: #6494ed;
}

/* line 22, ../sass/design.scss */
.bg-danger {
  background: #d92626;
}

/* line 23, ../sass/design.scss */
.bg-warning {
  background: #e2c08d;
}

/* line 28, ../sass/design.scss */
.text-default {
  color: #6a6e72;
}

/* line 29, ../sass/design.scss */
.text-success {
  color: #20b684;
}

/* line 30, ../sass/design.scss */
.text-primary {
  color: #6494ed;
}

/* line 31, ../sass/design.scss */
.text-danger {
  color: #d92626;
}

/* line 32, ../sass/design.scss */
.text-warning {
  color: #e2c08d;
}

/* line 34, ../sass/design.scss */
.title {
  color: #d9dbde;
  margin: 0px;
}
/* line 38, ../sass/design.scss */
.title .text-default {
  color: #d9dbde;
}
/* line 39, ../sass/design.scss */
.title .text-success {
  color: #31cb97;
}
/* line 40, ../sass/design.scss */
.title .text-primary {
  color: #84affe;
}
/* line 41, ../sass/design.scss */
.title .text-danger {
  color: #f04040;
}
/* line 42, ../sass/design.scss */
.title .text-warning {
  color: #f6dab0;
}

/* line 45, ../sass/design.scss */
a {
  color: #6494ed;
}
/* line 47, ../sass/design.scss */
a:hover {
  text-decoration: none;
  color: #3a66b6;
}
/* line 52, ../sass/design.scss */
a.text-default:hover {
  color: #303337;
}
/* line 53, ../sass/design.scss */
a.text-success:hover {
  color: #10a372;
}
/* line 54, ../sass/design.scss */
a.text-primary:hover {
  color: #3a66b6;
}
/* line 55, ../sass/design.scss */
a.text-danger:hover {
  color: #ba0d0d;
}
/* line 56, ../sass/design.scss */
a.text-warning:hover {
  color: #c9a46c;
}

/* line 62, ../sass/design.scss */
.btn-default {
  background: #6a6e72;
  border-color: #303337;
  color: white;
}
/* line 66, ../sass/design.scss */
.btn-default:hover {
  color: white;
  background: #303337;
  border-color: #d9dbde;
}

/* line 72, ../sass/design.scss */
.btn-success {
  background: #20b684;
  border-color: #10a372;
}
/* line 75, ../sass/design.scss */
.btn-success:hover {
  background: #10a372;
  border-color: #31cb97;
}

/* line 80, ../sass/design.scss */
.btn-primary {
  background: #6494ed;
  border-color: #3a66b6;
}
/* line 83, ../sass/design.scss */
.btn-primary:hover {
  background: #3a66b6;
  border-color: #84affe;
}

/* line 88, ../sass/design.scss */
.btn-danger {
  background: #d92626;
  border-color: #ba0d0d;
}
/* line 91, ../sass/design.scss */
.btn-danger:hover {
  background: #ba0d0d;
  border-color: #f04040;
}

/* line 96, ../sass/design.scss */
.btn-warning {
  background: #e2c08d;
  border-color: #c9a46c;
}
/* line 99, ../sass/design.scss */
.btn-warning:hover {
  background: #c9a46c;
  border-color: #f6dab0;
}

/* line 109, ../sass/design.scss */
.menu .title {
  font-size: 27px;
  margin: 0px;
  font-weight: bold;
  line-height: 34px;
}
/* line 116, ../sass/design.scss */
.menu ul li {
  display: inline-block;
  padding-left: 21px;
}

/* line 126, ../sass/design.scss */
.sub-menu {
  padding-top: 12px;
}
/* line 129, ../sass/design.scss */
.sub-menu ul {
  padding-right: 9px;
  padding-left: 9px;
}
/* line 133, ../sass/design.scss */
.sub-menu ul li {
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 137, ../sass/design.scss */
.sub-menu ul li .glyphicon-home {
  font-size: 36px;
}
/* line 141, ../sass/design.scss */
.sub-menu ul li.separate {
  border-bottom: 3px solid #111314;
}

/* line 149, ../sass/design.scss */
.content {
  padding: 15px 18px;
}
/* line 152, ../sass/design.scss */
.content .block {
  margin-bottom: 36px;
}
/* line 155, ../sass/design.scss */
.content .block > .title {
  font-size: 21px;
  padding-bottom: 9px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 21px;
}
/* line 162, ../sass/design.scss */
.content .block > .title.text-default {
  border-bottom: solid 1px #6a6e72;
}
/* line 163, ../sass/design.scss */
.content .block > .title.text-success {
  border-bottom: solid 1px #20b684;
}
/* line 164, ../sass/design.scss */
.content .block > .title.text-primary {
  border-bottom: solid 1px #6494ed;
}
/* line 165, ../sass/design.scss */
.content .block > .title.text-danger {
  border-bottom: solid 1px #d92626;
}
/* line 166, ../sass/design.scss */
.content .block > .title.text-warning {
  border-bottom: solid 1px #e2c08d;
}
/* line 170, ../sass/design.scss */
.content .box {
  margin-bottom: 30px;
  padding: 9px 12px;
  border-radius: 3px;
}
/* line 175, ../sass/design.scss */
.content .box .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
/* line 180, ../sass/design.scss */
.content .box .box {
  margin-bottom: 9px;
}

/* line 188, ../sass/design.scss */
form label {
  color: #d9dbde;
}
/* line 190, ../sass/design.scss */
form input.form-control {
  border: none;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid #d9dbde;
  color: #6a6e72;
}
/* line 199, ../sass/design.scss */
form input.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #303337;
}
/* line 207, ../sass/design.scss */
form.form-default label {
  color: #6a6e72;
}
/* line 208, ../sass/design.scss */
form.form-default input.form-control {
  border-color: #6a6e72;
  color: #d9dbde;
}
/* line 211, ../sass/design.scss */
form.form-default input.form-control:focus {
  border-color: #303337;
}
/* line 215, ../sass/design.scss */
form.form-success label {
  color: #10a372;
}
/* line 216, ../sass/design.scss */
form.form-success input.form-control {
  border-color: #10a372;
  color: #31cb97;
}
/* line 219, ../sass/design.scss */
form.form-success input.form-control:focus {
  border-color: #20b684;
}
/* line 223, ../sass/design.scss */
form.form-primary label {
  color: #3a66b6;
}
/* line 224, ../sass/design.scss */
form.form-primary input.form-control {
  border-color: #3a66b6;
  color: #84affe;
}
/* line 227, ../sass/design.scss */
form.form-primary input.form-control:focus {
  border-color: #6494ed;
}
/* line 231, ../sass/design.scss */
form.form-danger label {
  color: #ba0d0d;
}
/* line 232, ../sass/design.scss */
form.form-danger input.form-control {
  border-color: #ba0d0d;
  color: #f04040;
}
/* line 235, ../sass/design.scss */
form.form-danger input.form-control:focus {
  border-color: #d92626;
}
/* line 239, ../sass/design.scss */
form.form-warning label {
  color: #c9a46c;
}
/* line 240, ../sass/design.scss */
form.form-warning input.form-control {
  border-color: #c9a46c;
  color: #f6dab0;
}
/* line 243, ../sass/design.scss */
form.form-warning input.form-control:focus {
  border-color: #e2c08d;
}
/* line 250, ../sass/design.scss */
form .form-group.input-default label {
  color: #6a6e72;
}
/* line 251, ../sass/design.scss */
form .form-group.input-default input.form-control {
  border-color: #6a6e72;
  color: #d9dbde;
}
/* line 254, ../sass/design.scss */
form .form-group.input-default input.form-control:focus {
  border-color: #303337;
}
/* line 258, ../sass/design.scss */
form .form-group.input-success label {
  color: #10a372;
}
/* line 259, ../sass/design.scss */
form .form-group.input-success input.form-control {
  border-color: #10a372;
  color: #31cb97;
}
/* line 262, ../sass/design.scss */
form .form-group.input-success input.form-control:focus {
  border-color: #20b684;
}
/* line 266, ../sass/design.scss */
form .form-group.input-primary label {
  color: #3a66b6;
}
/* line 267, ../sass/design.scss */
form .form-group.input-primary input.form-control {
  border-color: #3a66b6;
  color: #84affe;
}
/* line 270, ../sass/design.scss */
form .form-group.input-primary input.form-control:focus {
  border-color: #6494ed;
}
/* line 274, ../sass/design.scss */
form .form-group.input-danger label {
  color: #ba0d0d;
}
/* line 275, ../sass/design.scss */
form .form-group.input-danger input.form-control {
  border-color: #ba0d0d;
  color: #f04040;
}
/* line 278, ../sass/design.scss */
form .form-group.input-danger input.form-control:focus {
  border-color: #d92626;
}
/* line 282, ../sass/design.scss */
form .form-group.input-warning label {
  color: #c9a46c;
}
/* line 283, ../sass/design.scss */
form .form-group.input-warning input.form-control {
  border-color: #c9a46c;
  color: #f6dab0;
}
/* line 286, ../sass/design.scss */
form .form-group.input-warning input.form-control:focus {
  border-color: #e2c08d;
}
